.doctors-page {
  display: flex;
  justify-content: space-around;
  .tickets-section {
    .ticket {
      color: rgb(94, 88, 88);
      padding: 0.4rem 0;
    }
  }
}

@media (max-width: 968px) {
  .doctors-page {
    flex-direction: column;
  }
}
